body{
    background-image: url('/src/components/thunderbolt-1905603.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.formgroup input{
    width: 230px;
    margin: 0 auto;
    background-color: black;
    padding: 6px;
    color: white;
}

.formgroup input:focus{
  outline: none;
}

.formgroup input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.weather-2{
    background-color: rgba(255, 255, 255, 0.6);
}

input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background-color: white;
    color: white;
}

.formgroup button{
    background-color: white;
    color: black;
    padding: 6px;
}

.weather-2{
    width: 60%;
    margin-top: 25px;
}

hr{
    width: 100%;
    border: 1px solid black;
}

.wrong-input{
    width: 70%;
    margin: 0 auto;
    color: rgb(2, 2, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(194, 180, 122);
    padding: 30px 20px;
}

.wrong-input a{
    padding: 6px 14px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: .5rem;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 400;
}

.wrong-input a:hover{
   letter-spacing: 1px;
}


@media (min-width: 760px) {
    .formgroup input{
        width: 430px;
        margin: 0 auto;
    }

    .wrong-input a{
        margin-top: 1rem;
        padding: 14px 20px;
    }
}